::-webkit-scrollbar {width: 0px;}
::-webkit-scrollbar-track {background: #a00b0b00}
::-webkit-scrollbar-thumb {background: rgba(136, 136, 136, 0);}
::-webkit-scrollbar-thumb:hover {background: rgba(85, 85, 85, 0); }

input::file-selector-button {
  background-color: transparent;
  border: none;
  color: #0b6bcb;
}